
<div class="container">
  <h1 class="mb-4">All Users</h1>
  <% @users.each do |user| %>
    <div class="user-container">
        <div class="user-photo">
          <img src= "<%= user.photo%>" alt= "<%= user.name%>" />
        </div>
        <div class="user-info">
            <h5 class="user-name"><%= link_to user.name, user_path(user),class:'user-link' %></h5>
            <p class="user-post">Posts: <%= user.posts_counter %></p>
        </div>
    </div>
  <% end %>
</div>










